{% extends "speeches/layout.html" %}
{% load static %}

    {% block body %}
        <h1>Introductory statement</h1>
        
        <div class="sp1">
            <p>Welcome to this project created mainly by Django.<br>
            This will act as a hub that will redirect you to official speeches<br>
            by various people around the world.<br>
            You will also be able to see a list of all the speakers<br> 
            of the aforementioned speeches on a seperate page<br>
            I hope you enjoy reading these speeches.  </p>
        </div>

    {% endblock %}


